.sortgon path {
fill: #fffffff;
stroke: #ff0000;
}

.sortgon_clip {
opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#000000;stroke-width:0.26458332;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;
}

.sortgon_path {
opacity:1;vector-effect:none;
fill-opacity:1;stroke:#000000;stroke-linecap:square;stroke-linejoin:round;
stroke-miterlimit:4;stroke-dasharray:none;
stroke-dashoffset:0;stroke-opacity:1;marker:none;
fill:none;
}

.sortgon .thick {
stroke-width: 3.9;
}
.sortgon .thin {
/*stroke-width:0.26458329;*/
stroke-width:0.26458335;
stroke:#000000;stroke-linecap:butt;stroke-linejoin:miter;
}

.sortgon .shift_path { stroke: #ffd700; }
.sortgon .phase_path { stroke: #ff25b5; }
.sortgon .shift_path2 { stroke: #7072ff; } /* 0018ff */
.sortgon .phase_path2 { stroke: #24ffc2; }

/*
.sortgon .shift_path.dark { stroke: #730c0c; }
.sortgon .phase_path.dark { stroke: #5a0c74; }
.sortgon .shift_path2.dark { stroke: #3f0c74; }
.sortgon .phase_path2.dark { stroke: #0c3874; }
*/

.sortgon .shift_path.dark, .sortgon .phase_path.dark,
.sortgon .shift_path2.dark, .sortgon .phase_path2.dark
{ stroke: #000000; }


.sortgon .sort_core { fill: #e7f9ee; }

.sortgon .sort_char { fill: #a4a0e4; }
.sortgon .sort_synk { fill: #ff6c00; }
.sortgon .sort_sass { fill: #0005ff; }
.sortgon .sort_maya { fill: #18b120; }

.sortgon .sort_dfcf { fill: #970f00; }
.sortgon .sort_dfcp { fill: #e8bd7f; }
.sortgon .sort_dfep { fill: #8cec04; }
.sortgon .sort_dfef { fill: #400639; }

.sortgon .sort_dpcf { fill: #007761; }
.sortgon .sort_dpcp { fill: #b5b297; }
.sortgon .sort_dpep { fill: #37fdff; }
.sortgon .sort_dpef { fill: #9db5ff; }

.sortgon .sort_npcf { fill: #eaeaea; }
.sortgon .sort_npcp { fill: #576073; }
.sortgon .sort_npep { fill: #fb6ca9; }
.sortgon .sort_npef { fill: #eb7c00; }

.sortgon .sort_nfcf { fill: #63504a; }
.sortgon .sort_nfcp { fill: #2d4c22; }
.sortgon .sort_nfep { fill: #8200f9; }
.sortgon .sort_nfef { fill: #0f3f94; }


/* sort caption */
.text {
	font-size: 5px;
	text-anchor: middle;
	transform: translate(18.5px, 25px);
}

