.kai-quilt {
font-size: 105%;
}

.kai-quilt li {
display: inline-block;
text-align: center;
width: 7em;
position: relative;

border: 1px solid black;

margin: 0.1em 0;
padding: 0.4em 0 0 0;

vertical-align: middle;
}

.kai-quilt .name, .kai-quilt .number {
display: block;
}

.kai-quilt .name, .kai-quilt .number, .kai-quilt .sprite {
z-index: 1;
position: relative;
}

.kai-quilt .name {
font-size: 95%;
hyphens: auto;
}

.kai-quilt .number {
font-size: 85%;
}

.kai-quilt .sprite {
display: inline-block;
}

.kai-quilt .sprite img {
display: block;
}

.kai-quilt .att {
z-index: 0;
left: 0; top: 0;
}



.kai-quilt li.serpens {
min-height: 8em;
}

.kai-quilt a, .kai-quilt a:hover {
font-weight: inherit;
color: inherit;
text-decoration: inherit;
}




.quilt-sortgrid-container {
display: inline-flex;
flex-wrap: wrap;
}

.quilt-sortgrid-square
{
display: inline-block;
border: 1px solid black;
padding: 0.1em 0.5em;
flex-grow: 1;
width: 20em;
min-width: none;  max-width: none;
margin: 0.1em;
}

.quilt-sortgrid-halfsquare {
width: 40em;
}

.quilt-sortgrid-bigsquare {
width: 100%;
}

.quilt-sortgrid-container h3 {
font-size: inherit;
}


