table {background: white;
position: relative; z-index: 2;}

td, tr {
position: relative;
background: transparent;
}


/* attribute background macros */

.att {
width: 100%; height: 100%;
box-sizing: border-box; padding: 0 7px; position: absolute; left: -1px; top: -1px; z-index: -1;
opacity: 0.5; /* 0.4 */
}

.att + strong {
background: black; color: white;
}


div > .att {
z-index: 0;
box-sizing: content-box;
}

div > .att + .sort-name {
z-index: 2;
position: relative;
}

.sort-button {
display: inline-block; position: relative;
padding: 0 0.3em; margin: 0 0.3em;
}

.bk_sct1 {background: #b9ff8e;}
.bk_sct2 {background: #3a4edf;}
.bk_sct3 {background: #c68ee8;}
.bk_sct4 {background: #e7f9ee;}

.bk_sct-nature {background: #b9ff8e;}
.bk_sct-culture {background: #3a4edf;}
.bk_sct-spirit {background: #c68ee8;}
.bk_sct-physics {background: #e7f9ee;}

.bk_sct-char {background: #a4a1f0;}
.bk_sct-synk {background: #ff6c00;}
.bk_sct-sass {background: #0004ff;}
.bk_sct-maya {background: #17b22f;}


.bk_shift1 {background: #f9af90;}
.bk_shift2 {background: #df7197;}
.bk_shift3 {background: #69b4a6;}
.bk_shift4 {background: #b2ea4e;}
.bk_shift5 {background: #247a73;}
.bk_shift6 {background: #ed3e00;}
.bk_shift7 {background: #1478a6;}
.bk_shift8 {background: #0d0f6a;}


.bk_sort-char {background: #a4a0e4;}
.bk_sort-synk {background: #ff6c00;}
.bk_sort-sass {background: #0005ff;}
.bk_sort-maya {background: #18b120;}


.bk_sort-dfcf {background: #970f00;}
.bk_sort-dfcp {background: #e8bd7f;}
.bk_sort-dfep {background: #8cec04;}
.bk_sort-dfef {background: #400639;}

.bk_sort-dpcf {background: #007761;}
.bk_sort-dpcp {background: #b5b297;}
.bk_sort-dpep {background: #37fdff;}
.bk_sort-dpef {background: #9db5ff;}

.bk_sort-npcf {background: #eaeaea;}
.bk_sort-npcp {background: #576073;}
.bk_sort-npep {background: #fb6ca9;}
.bk_sort-npef {background: #eb7c00;}

.bk_sort-nfcf {background: #63504a;}
.bk_sort-nfcp {background: #2d4c22;}
.bk_sort-nfep {background: #8200f9;}
.bk_sort-nfef {background: #0f3f94;}



/* other */

.kaicon {
min-width: 64px;
}


/* css counter */

.ctr {
counter-increment: ctr;
}

.ctr:before {
content: counter(ctr);
display: inline;
}

table {
counter-reset: ctr;
}



.sortgridtable > div {
display: inline-block;
margin: 0 0.4em;
}

.sortgrid a {
color: inherit;
text-decoration: underline;
}