/* debug */

article { outline: 1px solid blue; }
.pronkey { outline: 1px solid red; }

.hidden { display: none; }


/* css paging */

.page-selector  {
	opacity: 0; position: absolute;
}
.pages > * { display: none; }

.page-selector.strain-toggle:focus ~ #indices .strain-index {
	outline: 1px solid blue;
}
/* showing pages again is filled in by the dynamic style, paging.css */



/* fonts only */

@font-face { font-family: BifontRemote;  src: url(Bifont.otf); }
@font-face { font-family: JuraDemiBoldRemote;  src: url(Jura-DemiBold.ttf); }
@font-face { font-family: SourceSansRemote;  src: url(SourceSansPro-Regular.otf.woff2); }
@font-face { font-family: DejaVuMonoRemote;  src: url(DejaVuSansMono.ttf); }
@font-face { font-family: UnifontCribs;  src: url(UnifontCribs.otf); }

body {
	font-family: "Source Sans Pro", SourceSansRemote;
	font-size: 12.1pt;
}

article header .form-name {
	margin-right: 0.6em;
	font-family: "Jura", JuraDemiBoldRemote, sans-serif;
	font-weight: semi-bold;
}

article header .number {
	font-family: "Bifont", BifontRemote, monospace; 
}

.summary .description {
	font-family: "DejaVu Sans Mono", DejaVuMonoRemote, monospace;
}

.emoji-icon {
	font-family: "Unifont", "Unifont Upper", UnifontCribs, monospace;
}

/* adjust monospace for body font */
.summary .description {
	font-size: 80%;
}
article code {
	font-size: 85%;
}



/* quilt  */

.quilt-square, .quilt-square > label {
	display: block;
	box-sizing: content-box;
}

.quilt-square {
	display: inline-block;
	border: 1px solid black;
	
	padding: 0;
	height: auto; width: auto;
	overflow: hidden;
}

.strain-index .quilt-square,  .strain-index .quilt-square  * {
	cursor: pointer;
}

.quilt-square > label {
	outl ine: 1px solid blue;
	display: inline-block;
	height: 100%; width: 100%;
	padding: 0;
	font-size: 93%;
}
.quilt-square label > span {
	display: block;
	
}
.quilt-square label span.variant { display: inline-block; }


.strain-index .quilt-square {
	width: 6.5em;
	padding: 0.33em 0.4em;
	min-height: 3em;
	text-align: center;
}

.form-index .quilt-square {
	width: 9.5em;
	min-height: 3.5em;
	text-align: center;
	padding: 0.33em 0.4em;
}


/* entry etc */

article {
	position: relative;
	padding: 1em 0.5em;
	min-height: 30em;
}

.entry-links {
	position: absolute;
	right: 1em; top: 1em;
}


article header { margin: 0.4em 0 0.83em 0; }

article header h2 { margin: 0; }

article header .form-name, article header .number {
	display: inline-block;
}

article header .form-name { margin-right: 0.6em; }
}
article header .number { }

/* lynx/links help */
article header h2 .number {
	font-size: 66%;
}
article a.form-name {
	text-decoration: none;
	color: inherit;
	cursor: default;
}

article h3 {
	font-size: 110%;
}

article header hr {
	text-align: left;
	margin: 0.4em 0 0 0;
}



.pronunciation, .sectors table {
	margin-bottom: 1.2em;
}

.pronunciation h3, .sectors h3 { font-size: 80%; }
h4.devnote { font-size: 90%; }

h4.devnote { margin-bottom: 0; }
h4.devnote + p { margin-top: 0.5em; }


.summary .description {
	max-width: 50em;
	line-height: 1.4;
	font-size: 80%;
}


.variant-list, .variant-list li {
	margin: 0; padding: 0;
	display: inline-block;
}

.variant-list li {
	margin: 0 0.3em;
}






/* sector table */

.sectors table, .sectors table td {
	border: 1px solid black;
	border-collapse: collapse;
}

.sectors table {
	font-size: 80%;
}

.sectors table td {
	position: relative;
	height: 0.8em; width: 1.5em;
	padding: 0.2em;
	text-align: center;
}

.sectors table .checked {
	height: 100%; width: 100%;
	display: block !important;
	background: #d0d0d0;
	color: transparent;
}

.sectors table abbr {
	text-decoration: none;
}



/* pron key */

.pronkey {
	width: 20em;
}

.pronunciation ol {
	padding: 0;
	margin: 0;
	counter-reset: pronlist;
}

.pronunciation ol li {
	display: inline-block;
	margin-left: 0.8em;
	counter-increment: pronlist;
}

.pronunciation ol li:before {
	content: counter(pronlist) ". "
}

.keycontainer {
	position: relative;
	width: 25em;
}

.pronunciation .pronkey {
	position: absolute;
	z-index: 5;
	top: 1.5em;
	background: white;
}

.pronunciation .hover { display: none; }
/*.pronunciation details:hover ~ .hover { display: block; }
.pronunciation details[open] ~ .hover { display: none; }*/
.pronunciation details:hover ~ .hover, .pronunciation details[open] ~ .hover
{ display: block; }


.pronunciation summary {
	font-size: 85%;
}

.pronunciation details {
	margin: 0.5em 0;
}

.pronunciation h3 {
	margin-bottom: 0.5em;
}






/* breakpoints. notes:
- iphone, stupidly, doesnt accept resolution queries,
  so "min-resolution" cannot target iphone
- bug: only on mobile brave portrait orientation, font is huge.
- LATER: test on pinephone!

- fire 'real' dpi: 240 ; iphone: ~326
- mydevice.io 'fennec' / brave
  iphone - 320x568 192dpi / "
  fire - 800x1232 144dpi / 980x1280 144dpi
  sunrise - 320x480 96dpi / "
  pc - --- / 1362x768 96dpi
*/

.quilt-square img {
	width: 5.3em;
}

.breakpoints li {
	display: none;
	margin: 1em 1em;
}


/* iphone landscape breakpoint. */
@media screen and (max-width: 1100px) and (orientation: landscape) {
	.breakpoints .landscape_iphone { display: inline-block; }
	main { font-size: 85%; }
	#indices, .form-index { font-size: 145%; }
	
	article header { font-size: 160%; }
	
	.quilt-square img { width: 6em; }
}
/* fire landscape breakpoint. */
@media screen and (max-width: 1100px)
  and (orientation: landscape) and (min-resolution: 100dpi) {
	.breakpoints .landscape_fire { display: inline-block; }
	main { font-size: 85%; }
	#indices, .form-index { font-size: 95%; }
	
	article header { font-size: 100%; }
}

/* iphone portrait breakpoint. */
@media screen and (max-width: 980px) and (orientation: portrait) {
	.breakpoints .portrait_iphone { display: inline-block; }
	main { font-size: 200%; }
	#indices, .form-index { font-size: 120%; }
	
	article header { font-size: 120%; }
}

/* sunrise landscape breakpoint */
@media screen and (max-width: 1400px) and (max-height: 980px)
  and (orientation: landscape) and (max-resolution: 100dpi) {
	.breakpoints .landscape_sunrise { display: inline-block; }
	main { font-size: 167%; }
	#indices, .form-index { font-size: 105%; }
	
	article header { font-size: 110%; }
	
	.strain-index .quilt-square { width: 6.5em; }
	.form-index .quilt-square { width: 9em; }
}

/* fire portrait breakpoint. */
@media screen and (max-width: 980px) and (orientation: portrait) and (min-resolution: 100dpi) {
	.breakpoints .portrait_fire { display: inline-block; }
	main { font-size: 125%; }
	#indices, .form-index { font-size: 95%; }
	
	.strain-index .quilt-square { width: 6.6em; }
	.form-index .quilt-square { width: 9.5em; }
	.quilt-square img { width: 5.8em; }
}

/* sunrise portrait breakpoint - 160 dpi - 980 x 1400? */
@media screen and (max-width: 980px) and (max-height: 1400px)
  and (orientation: portrait) and (max-resolution: 100dpi) {
	.breakpoints .portrait_sunrise { display: inline-block; }
	main { font-size: 245%; }
	#indices { font-size: 108%; }
	.form-index { font-size: 105%; }
	
	article header { font-size: 110%; }
	
	.strain-index .quilt-square { width: 5.9em; }
	.form-index .quilt-square { width: 9em; }
}

/* pc / fire landscape reset *
@media screen and (min-width: 980px) and (max-resolution: 250dpi) {
	.breakpoints .landscape_pc { display: inline-block; }
	main { font-size: 100%; }
	#indices, .form-index { font-size: 100%; }
	
	article header { font-size: 110%; }
	
	.strain-index .quilt-square { width: 6.6em; }
	.form-index .quilt-square { width: 9.5em; }
}*/

/* fire portrait reset *
@media screen and (max-width: 980px) and (min-height: 1101px)
  and (orientation: portrait) and (min-resolution: 100dpi) { 
	.breakpoints .portrait_pc { display: inline-block; }
	main { font-size: 115%; }
	#indices, .form-index { font-size: 94%; }
	
	article header { font-size: 120%; }
	
	.strain-index .quilt-square { width: 8.5em; }
	.form-index .quilt-square { width: 9.5em; }
}*/





/* quilt sector / sort colours */
/* LATER: generate these */

.quilt-square.sector_nature { background: rgba(185, 255, 142, 0.6); }
.quilt-square.sector_culture { background: rgba(58, 78, 223, 0.6); }
.quilt-square.sector_spirit { background: rgba(198, 142, 232, 0.6); }
.quilt-square.sector_physics { background: rgba(231, 249, 238, 0.6); }

.quilt-square.sector_char { background: rgba(164, 161, 240, 0.6); }
.quilt-square.sector_synk { background: rgba(255, 108, 0, 0.6); }
.quilt-square.sector_sass { background: rgba(0, 4, 255, 0.6); }
.quilt-square.sector_maya { background: rgba(23, 178, 47, 0.6); }


.quilt-square.sort_dfcf { background: rgb(151, 15, 0, 0.6); }
.quilt-square.sort_dfcp { background: rgb(232, 189, 127, 0.6) }
.quilt-square.sort_dfep { background: rgb(140, 236, 4, 0.6); }
.quilt-square.sort_dfef { background: rgb(64, 6, 57, 0.6); }

.quilt-square.sort_dpcf { background: rgb(0, 119, 97, 0.6); }
.quilt-square.sort_dpcp { background: rgb(181, 178, 151, 0.6); }
.quilt-square.sort_dpep { background: rgb(55, 253, 255, 0.6); }
.quilt-square.sort_dpef { background: rgb(157, 181, 255, 0.6); }

.quilt-square.sort_npcf { background: rgb(234, 234, 234, 0.6); }
.quilt-square.sort_npcp { background: rgb(87, 96, 115, 0.6); }
.quilt-square.sort_npep { background: rgb(251, 108, 169, 0.6); }
.quilt-square.sort_npef { background: rgb(235, 124, 0, 0.6); }

.quilt-square.sort_nfcf { background: rgb(99, 80, 74, 0.6); }
.quilt-square.sort_nfcp { background: rgb(45, 76, 34, 0.6); }
.quilt-square.sort_nfep { background: rgb(130, 0, 249, 0.6); }
.quilt-square.sort_nfef { background: rgba(15, 63, 148, 0.6); }

.quilt-square.sort_char { background: rgba(164, 161, 240, 0.6); }
.quilt-square.sort_synk { background: rgba(255, 108, 0, 0.6); }
.quilt-square.sort_sass { background: rgba(0, 4, 255, 0.6); }
.quilt-square.sort_maya { background: rgba(23, 178, 47, 0.6); }
