/* :tabSize=2:indentSize=2: */

.form-chart { max-height: 45em; }


#grid {
	width: 6em; height: 6em;
}
#grid rect {
	width: 6em; height: 6em;
	stroke: blue;
	stroke-width: 1px;
	fill: red;
}


.box .sprite, .box .bkg, .box .caption {
	font-size: 10%;
}

.drawer .box {
	font-size: 100%;
	width: 6em; height: 6em;
	transform: translate(0, 0);
}

.drawer .box .caption {
	font-family: Bifont, Unifont, sans-serif;
	text-anchor: middle;
	transform: translate(4.5em, 8.7em);
	fill: black;
}

.box .bkg {
	width: 8em; height: 7.5em;
	transform: translate(0.5em, 0);
	stroke: #505050;
	fill: inherit;
}

.box .sprite {
	width: 7em; height: 7em;
	transform: translate(1em, 0.25em);
	fill: lightgrey;
	stroke: black; stroke-width: 0.1px;
}

.box .label {
	transform: scale(0.55) translate(1.68em,1.62em);
	stroke-width: inherit;
}
.box .label path {
	fill: inherit; stroke: black;
}
.box .label path ~ path {
	stroke: none;
}
.box .label text {
	fill: black;
	font-size: 20%;
	text-anchor: middle;
	transform: translate(-1.68em, -1.53em);
}

.box-placeholder .label {
	display: none;
}

connector {
	stroke: black;
	stroke-width: 1px;
}

#boxframe-label {
	stroke-width: inherit;
	stroke: inherit;
}

.b-label { stroke: black; }

#boxframe-label .erase { stroke: none; }



.chart-body .frame, .box {
	stroke-width: 0.18px;
}

.chart-body .frame {
	fill: none;
	stroke: black; 
	transform: translate(0.3px, 0.3px);
	
	fill: url(#grid);
}



/* drawers */

.drawer.d_basic { transform: translate(2.0em, 4.8em); }
.drawer.d_curve { transform: translate(4.0em, 4.8em); }
.drawer.d_doomvar { transform: translate(4.2em, 3.8em); }
.drawer.d_noble { transform: translate(0.04em, -0.05em); }
.drawer.d_16vars { transform: translate(0.0em, -0.56em); }
.pattern_variant .drawer.d_none { transform: translate(4.6em, -0.78em); }

.drawer.d_16badvars { transform: translate(-0.5em, -0.56em); }
.drawer.d_curv6n { transform: translate(4.7em, 0.54em); }
.pattern_curve .drawer.d_none { transform: translate(3.9em, 0.88em); }
.pattern_curve .drawer.d_basic { transform: translate(1.5em, 4.8em); }


.d_basic .b_b { transform: translate(1em, 0em); }

.d_curve .b_m1 { transform: translate(1em, 0); }
.d_curve .b_m2 { transform: translate(2em, 0); }
.d_curve .b_m3 { transform: translate(3em, 0); }
.d_curve .b_m4 { transform: translate(4em, 0); }

.d_doomvar .b_iv { transform: translate(1em, 0); }
.d_doomvar .b_vi { transform: translate(2em, 0); }
.d_doomvar .b_vii { transform: translate(3em, 0); }
.d_doomvar .b_iii { transform: translate(4em, 0); }


.d_noble .b_n1 { transform: translate(0em, 1em); }
.d_noble .b_n2 { transform: translate(0em, 2em); }
.d_noble .b_n3 { transform: translate(0em, 3em); }
.d_noble .b_n4 { transform: translate(0em, 4em); }

.d_curv6n .b_miv2, .d_curv6n .b_mvi2, .d_curv6n .mvii2, .d_curv6n .miii2 {
	transform: translate(1em, 0);
}
.d_curv6n .b_miv3, .d_curv6n .b_mvi3, .d_curv6n .mvii3, .d_curv6n .miii3 {
	transform: translate(2em, 0);
}
.d_curv6n .b_miv4, .d_curv6n .b_mvi4, .d_curv6n .mvii4, .d_curv6n .miii4 {
	transform: translate(3em, 0);
}


.d_16vars .b_DFCF, .d_16badvars .b_ma { transform: translate(1em, 1em); }
.d_16vars .b_s, .d_16badvars .b_mb { transform: translate(2em, 1em); }
.d_16vars .b_f, .d_16badvars .b_mc { transform: translate(3em, 1em); }
.d_16vars .b_g, .d_16badvars .b_md { transform: translate(4em, 1em); }

.d_16vars .b_x, .d_16badvars .b_me { transform: translate(1em, 2em); }
.d_16vars .b_t, .d_16badvars .b_mf { transform: translate(2em, 2em); }
.d_16vars .b_k, .d_16badvars .b_mg { transform: translate(3em, 2em); }
.d_16vars .b_p, .d_16badvars .b_mh { transform: translate(4em, 2em); }

.d_16vars .b_NPCF, .d_16badvars .b_mi { transform: translate(1em, 3em); }
.d_16vars .b_q, .d_16badvars .b_mj { transform: translate(2em, 3em); }
.d_16vars .b_l, .d_16badvars .b_mk { transform: translate(3em, 3em); }
.d_16vars .b_NPEF, .d_16badvars .b_ml { transform: translate(4em, 3em); }

.d_16vars .b_NFCF, .d_16badvars .b_mm { transform: translate(1em, 4em); }
.d_16vars .b_r, .d_16badvars .b_mn { transform: translate(2em, 4em); }
.d_16vars .b_NFEP, .d_16badvars .b_mo { transform: translate(3em, 4em); }
.d_16vars .b_NFEF, .d_16badvars .b_mp { transform: translate(4em, 4em); }


.pattern_variant .d_none .box:nth-child(1) { transform: translate(1em, 1em); }
.pattern_variant .d_none .box:nth-child(2) { transform: translate(2em, 1em); }
.pattern_variant .d_none .box:nth-child(3) { transform: translate(3em, 1em); }
.pattern_variant .d_none .box:nth-child(4) { transform: translate(1em, 2em); }
.pattern_variant .d_none .box:nth-child(5) { transform: translate(2em, 2em); }
.pattern_variant .d_none .box:nth-child(6) { transform: translate(3em, 2em); }
.pattern_variant .d_none .box:nth-child(7) { transform: translate(1em, 3em); }
.pattern_variant .d_none .box:nth-child(8) { transform: translate(2em, 3em); }
.pattern_variant .d_none .box:nth-child(9) { transform: translate(3em, 3em); }

.pattern_curve .d_none .box:nth-child(1) { transform: translate(1em, 1em); }
.pattern_curve .d_none .box:nth-child(2) { transform: translate(2em, 1em); }
.pattern_curve .d_none .box:nth-child(3) { transform: translate(3em, 1em); }
.pattern_curve .d_none .box:nth-child(4) { transform: translate(4em, 1em); }
.pattern_curve .d_none .box:nth-child(5) { transform: translate(1em, 2em); }
.pattern_curve .d_none .box:nth-child(6) { transform: translate(2em, 2em); }
.pattern_curve .d_none .box:nth-child(7) { transform: translate(3em, 2em); }
.pattern_curve .d_none .box:nth-child(8) { transform: translate(4em, 2em); }
.pattern_curve .d_none .box:nth-child(9) { transform: translate(1em, 3em); }
.pattern_curve .d_none .box:nth-child(10) { transform: translate(2em, 3em); }
.pattern_curve .d_none .box:nth-child(11) { transform: translate(3em, 3em); }
.pattern_curve .d_none .box:nth-child(12) { transform: translate(4em, 3em); }



/* colours */

/* .box .bkg inherits its colour from the fill on the box,
unless you set it explicitly like for the curve/placeholder boxes */
.drawer { fill: grey; }
.box { fill: inherit; }

.box-placeholder .bkg { fill: white; }
.d_curve .box { fill: #505050; }

.d_curve .box .label text,
.b_r .label text, .b_g .label text {
	fill: #f1f1f1;
}


/* grid colours */

.box.b_DFCF { fill: #970f00; }
.box.b_s { fill: #e8bd7f; }
.box.b_f { fill: #8cec04; }
.box.b_g { fill: #400639; }

.box.b_x { fill: #007761; }
.box.b_t { fill: #b5b297; }
.box.b_k { fill: #37fdff; }
.box.b_p { fill: #9db5ff; }

.box.b_NPCF { fill: #eaeaea; }
.box.b_q { fill: #576073; }
.box.b_l { fill: #fb6ca9; }
.box.b_NPEF { fill: #eb7c00; }

.box.b_NFCF { fill: #63504a; }
.box.b_r { fill: #2d4c22; }
.box.b_NFEP { fill: #8200f9; }
.box.b_NFEF { fill: #0f3f94; }

.box.b_c { fill: #576073; }


.d_16badvars .b_ma, .d_doomvar .b_vii {
	fill: #6668ff; /* asdf */
}
.d_16badvars .b_md, .d_doomvar .b_vi {
	fill: #ffa666; /* asdf */
} 
.d_16badvars .b_mm, .d_doomvar .b_iv {
	fill: #c8c6f6; /* asdf */
}
.d_16badvars .b_mp, .d_doomvar .b_iii {
	fill: #73d182; /* asdf */
}





