<!doctype html>
<html>
<head data-fold="{{{">
	<title>Asekai documentation --- ver. zensekai demo</title>
	<meta name="jedit" content=":folding=explicit:collapseFolds=1:wrap=soft:" />
	<!-- ^ jedit & maybe some other text editors can fold (hide) sections inside triple '{'/'}'.
	you can put these inside comments, but i prefer to use a data- attribute when possible
	because in the chromium inspector comments just clutter source & don't fold. -->
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./test.css" class="basic-styles" />
<!-- }}} --></head>
<body>

<header class="title">
<h1>Asekai documentation</h1>
<p>ver. zensekai demo</p>
</header>

<article id="InstallingDemo">
	<h1>InstallingDemo</h1>
	<div>
	<p>Usually, running the demo has about three steps:</p><ol><li>Get the <a class="tc-tiddlylink-external" href="https://godotengine.org/download" rel="noopener noreferrer" target="_blank">godot engine</a> for your specific platform (64-bit standard edition)<ul><li>make sure to put godot in a place that's in your path variable</li><li>alternatively, use this <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/simple-godot-installer" rel="noopener noreferrer" target="_blank">simple-godot-installer</a> (download directly <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/simple-godot-installer/archive/master.zip" rel="noopener noreferrer" target="_blank">here</a>) to completely set up godot more easily on windows</li></ul></li><li>Get a stable build from the <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/zensekai-demo/releases" rel="noopener noreferrer" target="_blank">Releases tab</a><ul><li>because codeberg is silly, automatic releases come as .zip but <em>manual</em> releases can only be uploaded as .tar.gz and you will need <a href="http://peazip.org/">PeaZip</a> to open them on windows</li></ul></li><li>From within <code>zensekai-demo/zensekai</code>, run the demo<ul><li>on linux, run <code>./zensekai</code></li><li>on windows, in <code>cmd.exe</code> or windows explorer, start <code>.\zensekai.bat</code></li></ul></li></ol><p>however there may be issues that make it more complicated.</p><p>-</p><h3 class="">zensekai.bat doesn't run / path variable??</h3><p>Windows is very, very picky about finding godot if you don't call it from the cmd.exe shell and first have it correctly in the path variable. try <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/simple-godot-installer" rel="noopener noreferrer" target="_blank">simple-godot-installer</a> to set this up easily</p><p>if that doesn't work, or if you're on linux, check out <a class="tc-tiddlylink tc-tiddlylink-resolves" href="#CompilingDemo">CompilingDemo</a> for instructions on how to add godot to your $PATH</p><h3 class="">something seems really broken, an executable won't even run</h3><p>It's possible my build doesn't work on your OS and you need to compile from source.<br> 
if you want to do this, go through the full set of instructions in <a class="tc-tiddlylink tc-tiddlylink-resolves" href="#CompilingDemo">CompilingDemo</a></p><hr><p>note:</p><p>technically, the godot binary wasn't intended to be used this way and you're supposed to 'export your project' to pop out some kind of godot extract to distribute with it, but for now I'm busy with the actual demo code so I'll clean this up and do it "the proper way" at some later date. for now simply running the editor works</p>
	</div>
</article>

<article id="DemoFeatures">
	<h1>DemoFeatures</h1>
	<div>
	<p>Things that are currently working in the zensekai demo:</p><ul><li>Moving around manually (use arrow keys)</li></ul><h3 class="">MapKai</h3><ul><li>Finding "MapKai" - at this time these are recoloured Entities</li><li>Clicking on MapKai - no effect right now</li></ul><p>grid management</p><ul><li>Generating a new grid of MapKai when you walk far enough<ul><li>randomising the exact position of MapKai in a cell</li><li>BUG: there are problems with godot tracking what grid the "Leader"/player is in</li></ul></li><li>generating new grids on new 10-minute cycle <em>and</em> cell coordinate, but the <em>same</em> grid with those two the same<ul><li>this is supposed to enable two separate nearby phones to see the same output, but this is untested</li></ul></li></ul><h3 class="">misc</h3><ul><li>building/running the demo on windows or linux<ul><li>use "make" to build everything necessary</li></ul></li><li>generating kai guide from data directory</li></ul>
	</div>
</article>

<article id="KaiGuide">
	<h1>KaiGuide</h1>
	<div>
	<p>The game can generate a "kai guide" (field guide with mechanics info) from kai strain data in the <code>data</code> directory.<br>
You should be able to open a version appropriate to these docs at <a href="../guide/guidetest.html">../guide/guidetest.html</a>.</p><p>Both playable forms and currently-unplayable/-unimplemented forms are in the guide currently, given the process of modelling/rigging/etc is rather slow. There will shortly be some kind of indicator on the entries of which strains/forms are unplayable.</p><p>-</p><p>Note that the guide was in the middle of a recode before arriving at the zensekai branch and has a number of unfinished macros in it - stuff that looks like <code>.description-default ident=k_entity entrytype="strain".</code> mark their place, but should eventually be fixed</p><h3 class="">dev</h3><p>Currently the <code>data</code> directory is a complete mess and it's not really recommended you try to make sense of any of it. however:</p><ul><li>the guide is generated with <code>./render_guide.sh</code></li><li>you can open up the data editor tiddlywiki (the thing that's a mess) by running <code>./tiddlywiki.sh</code>, causing it to serve an editing interface to a browser</li><li>the data tiddlywiki is only tested on linux and <em>very</em> untested on windows to the point it and its scripts are likely to break. probably don't even try to open them without msys2</li></ul>
	</div>
</article>

<article id="CompilingDemo">
	<h1>CompilingDemo</h1>
	<div>
	<h2 class="">Linux</h2><p>(64-bit, tested on devuan/debian)</p><p>note that most/all of these instructions should be done in a terminal window.</p><h3 class="">Installing dependencies</h3><ul><li>Be sure the necessary compilers are installed, as well as <code>git</code> if you want to use any version control / repository cloning features<ul><li>on debian-based distros, you can probably <code>sudo apt install build-essential git cargo</code></li><li>if that doesn't work, run <code>sudo apt install gcc make git cargo</code></li></ul></li><li>Then get the 64-bit "standard" version of godot from <a class="tc-tiddlylink-external" href="https://godotengine.org/download/linux" rel="noopener noreferrer" target="_blank">godotengine.org</a> and put it some place that's in your <code>$PATH</code><ul><li>I usually put it in <code>/home/user/bin</code> aka <code>~/bin</code>.<br> you could also use <code>/usr/local/bin</code> if you have administrator permissions and can put things there</li><li>link the long specific name to "godot", ex.:<br> <code>cd /path/to/godot/;</code> <code>ln -s ./Godot_v3.2-stable_x11.64 ./godot</code></li><li>see <a href="#path_linux">the misc section</a> for how to add a path</li></ul></li></ul><h3 class="">Getting the source code</h3><ul><li>For a release I have considered at least "stable enough" to go there, go to the <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/zensekai-demo/releases" rel="noopener noreferrer" target="_blank">Releases tab</a><ul><li>get either the "ZIP" or "TAR.GZ" version listed first as "Source Code"</li></ul></li><li>For the most current version of the code, go to the <a class="tc-tiddlylink-external" href="https://codeberg.org/Valenoern/zensekai-demo" rel="noopener noreferrer" target="_blank">main repo page</a><ul><li>go to any directory and clone the "HTTPS" url shown near the right, ex.: <code>git clone https://codeberg.org/Valenoern/zensekai-demo.git</code></li><li>you may be able to use "download repository" to get a zip of the current files, but I don't think it includes the <code>.git</code> directory containing version history.</li><li>if you are thinking about making some kind of pull request or simply running <code>git reset</code> to wipe any changes to the directory, be sure to get the source with <code>git clone</code>.</li></ul></li></ul><h3 class="">Compiling & running</h3><ul><li>Within <code>zensekai-demo/zensekai</code>,</li><li>Run <code>make</code> to build binaries etc. specified in the <code>Makefile</code><ul><li>to undo this step and start over run <code>make clean</code></li><li>if you think things have <em>really</em> been screwed up, run <code>git reset --hard</code> to revert the source folder to the state you downloaded it. (this is usually not necessary.)</li></ul></li><li>If <code>make</code> has been run, run <code>godot map.tscn</code> to start the demo<ul><li><strike>make should also have produced a shorter way to run this: <code>./zensekai</code></strike></li></ul></li></ul><h2 class="">Windows</h2><p>(64-bit, tested on windows 10)</p><h3 class="">installing dependencies</h3><ul><li>Install the x86_64 version of <a class="tc-tiddlylink-external" href="https://www.msys2.org/" rel="noopener noreferrer" target="_blank">msys2</a>.</li><li>Open the msys2 terminal and update the software with <code>pacman -Syu</code><ul><li>(note: not the mingw terminals, and the "64 bit" msys2. if you are asked)</li></ul></li><li>Install anything missing with <code>pacman -S gcc make git cargo</code><br> [note: I have not tested this command with "cargo" in it]</li><li>Then get the 64-bit "standard" <a class="tc-tiddlylink-external" href="https://godotengine.org/download/windows" rel="noopener noreferrer" target="_blank">windows version of godot</a>, and put it somewhere easily found like <code>c:\Program Files\Godot</code><ul><li>see <a href="#path_windows">the misc section</a> for how to add this folder to your <code>%path%</code> so you can simply call <code>godot</code></li></ul></li></ul><h3 class="">Getting the source code</h3><ul><li>This should be the same as in the linux section, but if using <code>git clone</code> make sure to do it in the msys2 terminal.</li></ul><h3 class="">compiling & running</h3><ul><li>In the msys2 terminal, open the <code>zensekai-demo/zensekai</code> directory</li><li>Run <code>make</code> to build everything in the Makefile</li><li>If <code>make</code> has been run, you can start the demo with <code>godot map.tscn</code><ul><li>windows seems to only recognise <code>%path%</code> in <code>cmd.exe</code> so you must run this command <em>there</em>.</li><li><strike>make should have produced a <code>zensekai.bat</code> that can be opened from explorer to run the correct command in the correct place.</strike></li></ul></li></ul><h2 class="">misc</h2><h3 class="">bugs</h3><p>(2020-07-02)</p><ul><li>currently desktop shortcuts are not tested or working</li><li>the game won't run properly outside its folder so be sure to be in the folder that contains "zensekai.pck" before running it</li></ul><section id="path_linux"><h3 class="">Using ~/bin (Linux)</h3><p>To use the <code>~/bin</code> directory, make sure your <code>/home/user/.profile</code> contains a line like</p><pre><code>if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi</code></pre><p>assuming you're using <code>bash</code> or a similar shell.</p></section><section id="path_windows"><h3 class="">Using the Program Files directory on windows</h3><ol><li>Open the environment variables section in the control panel.<ul><li>To go there quickly, press <code>Win+R</code> and open <code>systempropertiesadvanced</code></li></ul></li><li>Under "User Variables", edit "Path" and "add new" to the list wherever you put the godot executable.<ul><li>A good place is <code>C:\Program Files\Godot</code></li><li>When finished the variable should read something like "<code>[everything else];C:\Program Files\Godot</code>"</li></ul></li></ol></section>
	</div>
</article>

<article id="CompilingDemo_godot-06-30">
	<h1>CompilingDemo_godot-06-30</h1>
	<div>
	<p>Instructions for compiling the godot-06-30 "release" (unstable build)</p><h2 class="">generic</h2><ul><li>First make sure you have the dependencies - see <a class="tc-tiddlylink tc-tiddlylink-resolves" href="#CompilingDemo">CompilingDemo</a> for more detail<ul><li>install them with <code>sudo apt install build-essential git cargo</code> on debian-based distros</li><li>get the godot editor and put it in a location in your $PATH such as <code>~/bin/godot</code></li></ul></li><li>Get the zensekai debug release<ul><li>get the godot-06-30 zensekai folder and extract it</li><li>make sure you have godot export templates for arm64. these are available at the same repo</li><li>to get both at once: <code>git clone --depth 1 https://codeberg.org/Valenoern/asekai-packages.git</code><ul><li>this is an unusual git repo that you're not meant to clone normally. if you want to use <code>git clone</code> make sure not to forget the <code>--depth 1</code> so you don't unnecessarily download all the previous releases which are each on a previous commit.</li></ul></li></ul></li><li>In a terminal open up the <code>godot-06-30/zensekai</code> folder where you should see "zensekai-click" and "Makefile"</li><li>Run <code>make</code> to build the the regular desktop game, which will run with <code>godot .</code> or <code>cd bin; ./zensekai</code></li></ul><h2 class="">export templates</h2><ul><li>The way godot works, you may need to open up the editor and fix the export template paths<ul><li>launch godot with <code>godot</code> or <code>~/bin/godot</code> from any directory <em>without</em> a project.godot in it</li><li>in the menu bar find <strong>Project -> Export...</strong></li><li>in the left pane select the arm64 template, which should be labelled <strong>"Linux/X11 for arm64/pinephone"</strong></li><li>check that under "Custom Template" the paths are where you put the export templates.<ul><li>I usually put them in <code>~/.local/share/godot/templates/3.2.1_pinebook</code></li><li>but you will probably have to fix them because godot stupidly puts '/home/takumi/' in the paths</li></ul></li></ul></li><li>You will need something like a pinebook pro or qemu (? I haven't tried this) to test that this works for you on arm64.</li></ul><h2 class="">building on x86_64 desktop</h2><ul><li>Run <code>make click-desktop</code> to build the click package for x86_64<ul><li>this first builds the base game that you get with <code>make</code> (you can run this on a clean source tree from "git clone") and then builds the click package and tries to run it</li><li>if you somehow get through either <code>make</code> command without having <code>cargo</code> installed, you may get the "no monsters bug".</li></ul></li><li>Be sure you can log in to your pinephone with an ssh key, then send the game to the phone with <code>clickable --ssh phone.ip.address logs</code><ul><li>this will either copy the click package to the pinephone or start it up if it's already there</li><li>with the <code>logs</code> option you can see any errors that happen on the phone.</li><li>right now if the game successfully opened on the phone (currently it crashes) you would always see the "no monsters bug".</li></ul></li><li>Beware: it does not seem to be possible to uninstall click packages sent to the phone this way (?), so you may need to reflash your rootfs to test again</li></ul><h2 class="">building on arm64 (aarch64)</h2><ul><li>Currently you can build the game itself but not click packages yet, as there's no docker image to compile click packages <em>on</em> arm64</li><li>Run <code>make</code> to generate the two godot export files in <code>godot-06-30/zensekai/bin</code><ul><li>note that if you export the game on arm64 the main executable will simply be called <code>zensekai</code> instead of <code>zensekai.arm_64</code></li></ul></li><li>Move into <code>godot-06-30/zensekai/bin</code> and run <code>./zensekai</code><ul><li>(there are some issues with file paths preventing you just running <code>./godot-06-30/zensekai/bin</code>. i'll fix these later)</li></ul></li></ul><hr><h2 class="">no monsters bug</h2><p>The demo is supposed to spawn a bunch of Entity monsters across the grid (white dinosaurs, using the "MapKai" class in the gdscript code). however, I use a helper program for this and it sometimes doesn't build/run right, resulting in just a cube on a green field with no monsters.</p><p>if <code>bin/gridman</code> is not present for the correct architecture (which it won't be in the godot-06-30 download, I didn't yet actually know how to cross-compile it to arm64) you will see the 'no monsters bug'. Don't worry about this, as it doesn't cause any other weird behaviour in the demo and the important thing right now is just getting a godot demo working on pinephone.</p>
	</div>
</article>

</body>
</html>